<header class="{{headerClasses.header}}">
  <div class="{{headerClasses.inner}}">
    <div class="{{headerClasses.innerContent}}">
      <a href="/" class="{{headerClasses.headerLogo}}">
        <img src="{{logoPath}}" alt="IS" class="{{headerClasses.logoImage}}">
      </a>
      <nav class="{{headerClasses.menu}}">
        {{#each headerLinks}}
          <a href="{{this.url}}" class="{{../headerClasses.menuLink}}">{{this.text}}</a>
        {{/each}}
        {{#if currentUser}}
          <a href="/users/{{currentUser.id}}" class="{{headerClasses.profileLink}}">{{currentUser.username}}</a>
        {{else}}
          <a href="{{loginLink}}" class="{{headerClasses.loginButton}}">Войти</a>
        {{/if}}
      </nav>
    </div>
  </div>

</header>