<div class="main__content base-layout">
  <div class="vertical-container">
    <div class="post vertical-container__item post__container">
      <div class="post__header post__flex-row">
        <div class="post__author post__flex-row">
          {{#if author}}
            {{#if author.pictureUrl}}
              <img src="{{author.pictureUrl}}" alt="Аватар пользователя {{author.username}}" class="post__avatar">
            {{else}}
              <div class="post__avatar post__avatar--placeholder"></div>
            {{/if}}
            <a href="/users/{{author.id}}" class="post__username post__username--link">{{author.username}}</a>
          {{else}}
            <div class="post__avatar post__avatar--placeholder"></div>
            <span class="post__username post__username--deleted">[удалён]</span>
          {{/if}}
        </div>
        <div class="post__dates post__flex-col">
          <span class="post__date">{{formatDateTime post.createdAt}}</span>
          {{#if post.updatedAt}}
            <span class="post__date post__date--updated">Пост изменен: {{formatDateTime post.updatedAt}}</span>
          {{/if}}
        </div>
      </div>
      <h1 class="post__title">{{post.title}}</h1>
      <div class="post__categories post__flex-row">
        {{#each post.categories}}
          <span class="post__category">{{this.name}}</span>
        {{/each}}
      </div>
      <div class="post__content">
        <p class="post__text">{{post.content}}</p>
      </div>
      <div>
        <button
          onclick="{window.location.href=`/posts/${window.modelData.post.id}/edit`}"
          id="edit-post-button"
          class="default-button default-button--small default-button--edit default-button--fit hidden">
          Редактировать
        </button>
        <button id="delete-post-button"
                class="default-button default-button--small default-button--delete default-button--fit hidden">Удалить
        </button>
      </div>
    </div>

    <spinning-loader loader-speed="0.65"
                     class="vertical-container__item vertical-container__item--loader"
                     id="post-comments-loader"></spinning-loader>

    {{#if currentUser}}
      <form id="comments-form" class="comments-form hidden">
        <textarea id="comment-content" class="form__input" placeholder="Комментарий..." style="resize: none"></textarea>
        <button id="submit-comment" class="comments-form__submit-button">Отправить</button>
      </form>
    {{/if}}
    <div id="comments-list" class="comments hidden"></div>

    <button id="load-more-comments" class="show-more-button hidden">Показать ещё</button>

    <div class="warning vertical-container__item hidden" id="comments-warning">
      <img src="/resources/images/exclamation_mark.png" alt="Восклицательный знак в треугольнике"
           class="warning__image">
      <span class="warning__text">Что-то пошло не так &mdash; комментарии не загрузились</span>
    </div>

  </div>
</div>

<script>
  if (window.modelData.rolesSet.has('admin') || window.modelData.rolesSet.has('moderator') || (
    window.modelData.currentUser != null && window.modelData.currentUser.id === window.modelData.author.id)
  ) {
    document.getElementById('delete-post-button').classList.remove('hidden');
  }
  if (window.modelData.rolesSet.has('admin') || (
    window.modelData.currentUser != null && window.modelData.currentUser.id === window.modelData.author.id)
  ) {
    document.getElementById('edit-post-button').classList.remove('hidden');
  }

  document.getElementById('delete-post-button').addEventListener('click', (evt) => {
    fetch(`/api/posts/${window.modelData.post.id}`, {
      method: 'DELETE',
      headers: {
        accept: 'application/json',
        'Content-Type': 'application/json',
      },
    })
      .then(async (response) => {
        const data = await response.json();
        if (!response.ok) {
          window.alert(
            `Ошибка: ${Array.isArray(data.message) ? data.message.join('\n') : data.message}`,
          );
        } else {
          window.location.href = `/posts`;
        }
      })
      .catch((error) => {
        window.alert(`Ошибка: ${error.message}`);
      });
  });
</script>
